.navbar .navbar-brand {
  /* visibility: hidden; */
  font-size: 14px;
}
.container1 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./Image/image3.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.container2 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./Image/image2.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.container3 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./Image/hero3.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

@media (max-width: 767px) {
  .nav-brand {
    visibility: hidden;
  }
}

/* Styling for About Page */
.about-nasims {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./Image/about1.jpg);
  background-position: left;
  background-size: cover;
  height: 50vh;
  width: 100%;
}
@media (min-width: 768px) {
  .investment-text {
    justify-content: space-between;
    margin: 0 13rem;
  }
  .other-text {
    justify-content: space-between;
    margin: 0 7rem;
  }
  .other-text2 {
    justify-content: space-between;
    margin-right: 9rem;
  }
}
